<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
   {{> header}}
   <p>welcome to portfolio page.</p>
    
   {{> footer}}
</body>
</html>